#Overall driver options
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                  1 
Number of surface model types:    2
Surface model types:            "LSM" "Openwater"
Surface model output interval:  "3hr"
Land surface model:             "Noah.3.6"
Open water model:                "template open water"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "AGRMET"
Topographic correction method (met forcing):  "none"  "none"
Enable spatial downscaling of precipitation:   0    0 
Spatial interpolation method (met forcing):   "bilinear" "bilinear"
Spatial upscaling method (met forcing): average
Temporal interpolation method (met forcing):  "linear" "linear"

#Runtime options
Forcing variables list file:               /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.1/forcing_variables.txt
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output methodology:                        "1d tilespace" 
#Output methodology:                        "2d ensemble gridspace"
#Output methodology:                        "2d gridspace"
#Output data format:                        binary 
#Output data format:                        grib1
Output data format:                        netcdf #grib1
Output naming style:                       "WMO convention"
Enable output statistics:                  .false.  
#Output naming style:                       "3 level hierarchy"
Output GRIB Table Version:                 128
Output GRIB Center Id:                     57
Output GRIB Subcenter Id:                  2
Output GRIB Grid Id:                       255
Output GRIB Process Id:                    88
Output GRIB Packing Type:                  grid_simple
Output model restart files:                1
Start mode:                                coldstart # EMK 
Starting year:                             2007
Starting month:                            11
Starting day:                              01
Starting hour:                             06
Starting minute:                           15
Starting second:                           0
Ending year:                               2013
Ending month:                              11
Ending day:                                01
Ending hour:                               00
Ending minute:                             05
Ending second:                             0
Undefined value:                          -9999
Output directory:                         /p/work1/wegielj/LIS/V7.2/OUTPUT
Diagnostic output file:                   logs/lislog
#Number of ensembles per tile:              1
#Change to 12-members on 20130101
Number of ensembles per tile:              12

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.05 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.05
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.05
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.05
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.05
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.05

#Processor Layout	
#Should match the total number of processors used

###Number of processors along x:    512
###Number of processors along y:    1
#Decompose by processes: .true.
# DECOMP TRUE is for the HPC novice.  This option adds about 9 minutes of preprocessing to each RST
Number of processors along x:   32
Number of processors along y:   32
Halo size along x: 0
Halo size along y: 0

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#---------------------DATA ASSIMILATION ----------------------------------
#Data Assimilation Options

################################################################################################################################
# CHANGE Number of data assimilation instances from 1 to 2 AND UNCOMMENT OTHER SETTINGS WHEN SMOPS BECOMES AVAILABLE: 20131101 #
################################################################################################################################
#
################################################################################################################################
# 6-hourly EnKF of SNODEP Possible beginning on 201311120000.  But, only after receipt of LISV7.1rp7 from NASA/GSFC            #
################################################################################################################################
#Number of data assimilation instances:               1 # For forcing 
Number of data assimilation instances:               1 
#Data assimilation algorithm:                         "Direct insertion" "EnKF"
Data assimilation algorithm:                         "EnKF" "EnKF"
Data assimilation set:                               "SNODEP"  "SMOPS soil moisture"
Number of state variables:                           2 4 # added by Shugong
Data assimilation exclude analysis increments:       0 0
Data assimilation output interval for diagnostics:   "6hr"   "6hr"
Data assimilation number of observation types:       1 1
Data assimilation output processed observations:     0 0
Data assimilation output innovations:                0 0
Data assimilation output ensemble spread:            0 0
Data assimilation observation domain file: /p/work1/wegielj/lis_input.10km_noah_juleslandmask.cap.nc /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/ASCAT_cdf_10km_domain.nc
Data assimilation scaling strategy:                  "none" "CDF matching"
Data assimilation use a trained forward model:        0 0
Data assimilation trained forward model output file: none none

#Data assimilation output ensemble members:           0 0
#Data assimilation output ensemble members:           12 0
#Data assimilation observation domain file: /p/work1/wegielj/lis_input.10km_noah_juleslandmask.cap.nc

Bias estimation algorithm:                "none" "none"
Bias estimation attributes file:          "none" "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
#Perturbations start mode:                 "restart" "coldstart"
Perturbations start mode:                 "coldstart" "coldstart"
#Change from coldstart to restart when we go from deterministic to 12-mem ens; or when restarting from a coldstart
Perturbations restart output interval:    "6hr" "6hr"
#Perturbations restart filename:           /p/work1/wegielj/LIS/V7.2/OUTPUT/DAPERT/LIS_DAPERT_201608051200.d01.bin 
Perturbations restart filename:           "none"  
# Perturbations restart filename: must be set to none when running a cold start
Apply perturbation bias correction:       1

#Forcing perturbation algorithm:           "none" "GMAO scheme"
Forcing perturbation algorithm:           "GMAO scheme" "GMAO scheme"
Forcing perturbation frequency:           "1hr" "1hr"
#Forcing attributes file:                  AGRMET/forcing_attribs.txt AGRMET/forcing_attribs.txt
#Forcing perturbation attributes file:     AGRMET/forcing_pert_attribs.txt AGRMET/forcing_pert_attribs.txt
Forcing attributes file:                  /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/forcing_attribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/forcing_attribs.txt
Forcing perturbation attributes file:     /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/forcing_pert_attribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/forcing_pert_attribs.txt

State perturbation algorithm:             "GMAO scheme" "GMAO scheme"
#State perturbation algorithm:             "none" "GMAO scheme"
State perturbation frequency:             "6hr" "6hr"
#State attributes file:                    AGRMET/noah_snow_attribs.txt AGRMET/noah_sm_attribs.txt
#State perturbation attributes file:       AGRMET/noah_snow_pertattribs.txt AGRMET/noah_sm_pertattribs.txt
State attributes file:                    /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/noah_snow_attribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/noah_sm_attribs.txt
State perturbation attributes file:       /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/noah_snow_pertattribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/noah_sm_pertattribs.txt

Observation perturbation algorithm:       "GMAO scheme" "GMAO scheme"
#Observation perturbation algorithm:       "none" "GMAO scheme"
Observation perturbation frequency:       "6hr" "6hr"
#Observation attributes file:              AGRMET/SNODEPobs_attribs.txt AGRMET/RTSMOPS_attribs.txt
#Observation perturbation attributes file: AGRMET/SNODEPobs_pertattribs_test.txt AGRMET/RTSMOPS_pertattribs.txt
Observation attributes file:              /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/SNODEP_attribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/smobs_attribs.txt
Observation perturbation attributes file: /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/SNODEP_pertattribs.txt /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/smobs_pertattribs.txt

SNODEP data directory:   /p/work1/wegielj/LIS/AGRMET_FORCING/
SNODEP mesh resolution:  16
SNODEP naming convention: LIS


# UNCOMMENT SMOPS PARAMETER SETTINGS WHEN SMOPS AVAILABLE: 20131101
#SMOPS ASCAT naming convention: LIS #YYYY/NPR_SMOPS_CMAP_DYYYYMMDDHH.gr2
#SMOPS ASCAT naming convention: AGRMET ops #"AGRMET ops": smops_dYYYYMMDD_sHH0000_cness.gr2 or NPR_SMOPS_CMAP_DYYYYMMDDHH.gr2, depending on date 
#SMOPS ASCAT soil moisture data directory:       /p/work1/wegielj/LIS/AGRMET_FORCING/SMOPS
#SMOPS ASCAT model CDF file:                      /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/cdf_noah36.nc
#SMOPS ASCAT observation CDF file:                /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/ASCAT_cdf_10km.nc
#SMOPS ASCAT soil moisture number of bins in the CDF: 100
#SMOPS ASCAT use realtime data: 1
#SMOPS ASCAT soil moisture use scaled standard deviation model: 1
#SMOPS ASCAT naming convention: 'AGRMET ops'
#SMOPS ASCAT version: 'date-based'

#------------------------DOMAIN SPECIFICATION--------------------------
#Definition of Running Domain
#Specify the domain extremes in latitude and longitude

Run domain lower left lat:                 -89.9531250
Run domain lower left lon:                -179.9296875
Run domain upper right lat:                 89.9531250
Run domain upper right lon:                179.9296875
Run domain resolution (dx):                  0.140625
Run domain resolution (dy):                  0.093750

#The following options list the choice of parameter maps to be 
#used

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "LDT"
Slope data source:               "LDT"
Aspect data source:              "LDT"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"
Max snow albedo data source:     "LDT"

LIS domain and parameter data file: /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/lis_input.10km_noah_juleslandmask.cap.nc
Use greenness fraction climatology: 1
Use albedo climatology: 1
Albedo climatology interval type: monthly

####################################################
# TURN SPORT ON WHEN GVF FIRST AVAILABLE: 20131101 # 
####################################################
#SPORT greenness data directory:    /scr/wegielj/RECONSTITUTED_FORCING_ARCHIVE/GVF_Data_Directory/green
#SPORT GVF use realtime mode:       1
#SPORT GVF lower left lat:          -89.975
#SPORT GVF lower left lon:          -179.975
#SPORT GVF upper right lat:         89.975
#SPORT GVF upper right lon:         179.975
#SPORT GVF resolution (dx):         0.05
#SPORT GVF resolution (dy):         0.05

#--------------------------------FORCINGS----------------------------------

#EMK...For 25-km forcing through 14 July 2017
AGRMET forcing map projection:                   latlon
AGRMET forcing domain lower left lat:           -89.875
AGRMET forcing domain lower left lon:          -179.875
AGRMET forcing domain upper right lat:           89.875
AGRMET forcing domain upper right lon:          179.875
AGRMET forcing domain resolution (dx):            0.25
AGRMET forcing domain resolution (dy):            0.25

#EMK...For 10-km forcing after 14 July 2017
#AGRMET forcing map projection:                   latlon
#AGRMET forcing domain lower left lat:          -89.9531250
#AGRMET forcing domain lower left lon:         -179.9296875
#AGRMET forcing domain upper right lat:          89.9531250
#AGRMET forcing domain upper right lon:         179.9296875
#AGRMET forcing domain resolution (dx):           0.140625
#AGRMET forcing domain resolution (dy):           0.093750


#AGRMET forcing directory:               FORCING
#AGRMET forcing directory:               /p/work1/wegielj/LIS/AGRMET_FORCING
AGRMET forcing directory:                /p/work1/wegielj/LIS/AGRMET_FORCING/AFWA_updated_EK
AGRMET first guess source: GFS # EMK NEW
####Change first guess from GFS to GALWEM on 20171001
#AGRMET first guess source: GALWEM # Fixed!
AGRMET retrospective root filename:     "/PS.AFWA_SC.U_DI.C_DC.ANLYS_GP.LIS_GR.C0P25DEG_AR.GLOBAL_PA.03-HR-SUM_DD."
#AGRMET retrospective root filename:    "/PS.AFWA_SC.U_DI.C_DC.ANLYS_GP.LIS_GR.C0P09DEG_AR.GLOBAL_PA.03-HR-SUM_DD."
AGRMET analysis directory:              Analysis_UMFG_1 # EMK 
AGRMET surface fields directory:        SFCALC
AGRMET merged precip directory:         PRECIP
###########################################################################################################################################################
# CHANGE AGRMET cloud data directory from WWMCA_LE to WWMCA WHEN AFWA MIGRATED FROM IBM to HP (BE2LE) AND BECOMES *CONSISTENTLY* AVAILABLE: 201204091200  #
# NOTE: DO NOT USE EITHER THE JMOBS or CDMS OBS DURING THE PERIOD 20120327 THROUGH 201204091200                                                           #
###########################################################################################################################################################
# CHANGE AGRMET cloud data directory from WWMCA to WWMCA_COD WHEN COD DATA AVAILABLE 20130601 ############################################################# 
###########################################################################################################################################################
#AGRMET cloud data directory:            WWMCA_LE # EMK Change on 201204091200 
#                                                 # EMK and on 20130601
#AGRMET cloud data directory:            NONE # EMK Change on 201204091200 
#                                                 # EMK and on 20130601
AGRMET cloud data directory:            WWMCA # EMK Change on 201204091200 
                                                 # EMK and on 20130601
						 # EMK...No WWMCA_COD dirs!
AGRMET GFS data directory:              GFS
AGRMET GALWEM data directory:           GALWEM
AGRMET CMORPH data directory:           CMORPH
###########################################################################################################################################################
# CHANGE AGRMET SSMI data directory: from SSMI_LE to SSMI WHEN AFWA MIGRATED FROM IBM to HP (BE2LE) AND BECOMES *CONSISTENTLY* AVAILABLE: 201204091200    #
# NOTE: DO NOT USE EITHER THE JMOBS or CDMS OBS DURING THE PERIOD 20120327 THROUGH 201204091200                                                           #
###########################################################################################################################################################
#AGRMET SSMI data directory:             SSMI_LE # EMK Change on 201203270000
#AGRMET SSMI data directory:             NONE # EMK Change on 201204091200
AGRMET SSMI data directory:             SSMI # EMK Change on 201204091200

###########################################################################################################################################################
# CHANGE AGRMET GEOPRECIP data directory: from GEO_LE to GEO WHEN AFWA MIGRATED FROM IBM to HP (BE2LE) AND BECOMES *CONSISTENTLY* AVAILABLE: 201204091200 #
# NOTE: DO NOT USE EITHER THE JMOBS or CDMS OBS DURING THE PERIOD 20120327 THROUGH 201204091200                                                           #
###########################################################################################################################################################
#AGRMET GEOPRECIP data directory:        GEO_LE # EMK change on 201203270000
#AGRMET GEOPRECIP data directory:        NONE # EMK change on 201204091200
AGRMET GEOPRECIP data directory:        GEO # EMK change on 201204091200

###################################################################################################################
# CHANGE AGRMET JMOBS data directory: from JMOBS to CDMS WHEN CDMS BECOMES *CONSISTENTLY* AVAILABLE: 201204091200 #
# NOTE: DO NOT USE EITHER THE JMOBS or CDMS OBS DURING THE PERIOD 20120327 THROUGH 201204091200                   #
###################################################################################################################
#AGRMET JMOBS data directory:          JMOBS # EMK Change on 201203270000
#AGRMET JMOBS data directory:          NONE # EMK Change on 201204091200
AGRMET JMOBS data directory:          CDMS # EMK Change on 201204091200
AGRMET use timestamp on directories:    1
AGRMET use timestamp on gfs:            1
AGRMET latlon mask file:                /p/home/wegielj/parameters/global_0p25/mask_25KM.1gd4r 
AGRMET mask file:                       /p/home/wegielj/parameters/all_16/point_switches
AGRMET terrain file:                    /p/home/wegielj/parameters/pst_16/terrain
AGRMET 8th polar mask file:             /p/home/wegielj/parameters/all_8/point_switches
AGRMET 8th polar terrain file:          /p/home/wegielj/parameters/pst_8/terrain
AGRMET 16th polar mask file:            /p/home/wegielj/parameters/all_16/point_switches
AGRMET 16th polar terrain file:         /p/home/wegielj/parameters/pst_16/terrain
AGRMET 64th polar mask file:            /p/home/wegielj/parameters/pst_16/point_switches
AGRMET 64th polar terrain file:         /p/home/wegielj/parameters/pst_16/terrain
AGRMET native imax:                     1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET native jmax:                     1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
#######################################################################################################################
# CHANGE GEOPRECIP imax and jmax from 1024 to 4096, WHEN 64th MESH AVAILABLE ON 20100618 ##############################
#######################################################################################################################
AGRMET GEOPRECIP imax:                  1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET GEOPRECIP jmax:                  1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET SSMI imax:                       1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET SSMI jmax:                       1024  #512 - 8th polar; 1024 - 16th polar; 4096 - 64th polar (not yet available)
AGRMET sfcalc cntm file:                /p/home/wegielj/parameters/global_0p25/spread_radii.1gd4r
AGRMET precip climatology:              /p/home/wegielj/parameters/global_0p25/
AGRMET nogaps wind weight:              1.0 # EMK...To fix low wind bias
AGRMET minimum wind speed:              0.25
AGRMET use present/past weather estimate: 0  # EMK...Don't use BOGUS data
AGRMET use precip observations:         1

########################################################################################################################
# CHANGE AGRMET use SSMI data: from 0 to 1 WHEN 16th MESH AVAILABLE ON 20080326 ##################################################
########################################################################################################################
AGRMET use SSMI data:                   1 # EMK change on 20080326
#AGRMET use SSMI data:                   0 # EMK change on 20080326
AGRMET use CDFSII-based estimate:       0
########################################################################################################################
# CHANGE AGRMET use GEOPRECIP estimate FROM 0 to 2 WHEN 16th mesh GEOPRECIP BECOMES AVAILABLE ON 20090126 ##############
########################################################################################################################
AGRMET use GEOPRECIP estimate:          2 # EMK change to 2 on 20090126
#AGRMET use GEOPRECIP estimate:          0 # EMK change to 2 on 20090126
AGRMET CDFSII time interval:            6
AGRMET use precip climatology:          0
AGRMET CMORPH imax:                     4948
AGRMET CMORPH jmax:                     1649
AGRMET CMORPH min lat:                  -59.963614
AGRMET CMORPH max lat:                  59.963614
AGRMET CMORPH min lon:                  -179.963622
AGRMET CMORPH max lon:                  179.963622
AGRMET CMORPH dx:                       0.072771377
AGRMET CMORPH dy:                       0.072756669
########################################################################################################################
# CHANGE AGRMET use CMORPH data: from 0 to 1 WHEN AVAILABLE ON 201010041500 ############################################# 
########################################################################################################################
AGRMET use CMORPH data:                 1 # EMK change on 201010041500
#AGRMET use CMORPH data:                 0 # EMK change on 201010041500
AGRMET CMORPH maximum temperature threshold:    278
AGRMET CMORPH minimum temperature threshold:    273
AGRMET GEO_PRECIP maximum temperature threshold:    278
AGRMET GEO_PRECIP minimum temperature threshold:    273
########################################################################################################################
# Change from GFS to GALWEM on 20171001 when GALWEM first guess becomes consistently available
########################################################################################################################
AGRMET use GFS precip:                  1
AGRMET use GALWEM precip:               0
########################################################################################################################
# CHANGE AGRMET SSMI zero use switch: from 1 to 0 WHEN SSMI BECOMES AVAILABLE ON 200803261200
########################################################################################################################
AGRMET SSMI zero use switch:            0 # EMK Change on 200803261200
#AGRMET SSMI zero use switch:            1 # EMK Change on 200803261200
AGRMET snow distribution shape parameter: 2.6
AGRMET alternate monthly weighting factor: 1.0
AGRMET minimum 3hr climo value:            0.025
AGRMET maximum 3hr climo value:            0.375
AGRMET minimum precip-per-precip day multiplier: 0.0
AGRMET maximum precip-per-precip day multiplier: 1.1
AGRMET cloud threshold to generate CDFSII estimate: 85.0
AGRMET median cloud cover percentage1:              15.0
AGRMET median cloud cover percentage2:              0.60
AGRMET overcast percentage:                         0.30
AGRMET 3hr maximum precip ceiling:                  200.0
AGRMET security classification:            U
AGRMET distribution classification:        C
AGRMET data category:                      ANLYS
AGRMET area of data:                       GLOBAL

#------------------------OPEN WATER MODELS---------------------------
#
Template open water timestep:             "15mn"


#-----------------------LAND SURFACE MODELS--------------------------

Noah.3.6 model timestep:                  15mn
Noah.3.6 restart output interval:         6hr
Noah.3.6 restart file:                    /p/work1/wegielj/LIS/V7.2/OUTPUT/LIS_RST_NOAH36_201608051200.d01.nc
Noah.3.6 vegetation parameter table:      /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.1/VEGPARM.TBL
Noah.3.6 soil parameter table:            /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.1/SOILPARM.TBL.WRF-3.9
Noah.3.6 general parameter table:         /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.1/GENPARM.TBL
Noah.3.6 use PTF for mapping soil properties: 0
Noah.3.6 soils scheme:                    2
Noah.3.6 number of soil layers:           4
Noah.3.6 layer thicknesses:               0.1  0.3  0.6  1.0
Noah.3.6 initial skin temperature:        290.0
Noah.3.6 initial soil temperatures:       290.0  290.0  290.0  290.0
#EMK...Sujay advises using initial soil moisture of 0.4 for coldstarts
Noah.3.6 initial total soil moistures:    0.4000000 0.4000000 0.4000000 0.4000000
Noah.3.6 initial liquid soil moistures:   0.4000000 0.4000000 0.4000000 0.4000000
Noah.3.6 initial canopy water:            0.0
Noah.3.6 initial snow depth:              0.0
Noah.3.6 initial snow equivalent:         0.0
Noah.3.6 fixed max snow albedo:           0.0
Noah.3.6 fixed deep soil temperature:     0.0
Noah.3.6 fixed vegetation type:           0
Noah.3.6 fixed soil type:                 0
Noah.3.6 fixed slope type:                1 # EMK
Noah.3.6 sfcdif option:                   1
Noah.3.6 z0 veg-type dependence option:   0
Noah.3.6 Run UA snow-physics option:     .true.
Noah.3.6 greenness fraction:  0.01  0.02  0.07  0.17  0.27  0.58  0.93  0.96  0.65  0.24  0.11  0.02
Noah.3.6 background albedo:   0.18  0.17  0.16  0.15  0.15  0.15  0.15  0.16  0.16  0.17  0.17  0.18
Noah.3.6 background roughness length: 0.020 0.020 0.025 0.030 0.035 0.036 0.035 0.030 0.027 0.025 0.020 0.020
Noah.3.6 reference height for forcing T and q:   2.0
Noah.3.6 reference height for forcing u and v:  10.0

#---------------------------MODEL OUTPUT CONFIGURATION-----------------------
#Specify the list of ALMA variables that need to be featured in the 
#LSM model output

Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:

#Energy balance components
#Model output attributes file:  AGRMET/MODEL_OUTPUT_LIST.TBL.afwa
#Model output attributes file:  MODEL_OUTPUT_LIST.TBL.afwa.emk
#Model output attributes file:  MODEL_OUTPUT_LIST.TBL.afwa.emk3 # EMK
Model output attributes file: /p/home/wegielj/LIS_RESTART_FILE_GENERATION/V7.2/MODEL_OUTPUT_LIST.TBL.prod10 

# EMK
AGRMET maximum precip obs: 2000000

# For 10-km domain
AGRMET GALWEM Precip background error scale length (m):             85000.
AGRMET GALWEM Precip background error variance:                         0.43 
AGRMET GALWEM Precip Gauge observation error variance:                  0.64
AGRMET GALWEM Precip GEOPRECIP observation error scale length (m):  78000.
AGRMET GALWEM Precip GEOPRECIP observation error variance:              2.68
AGRMET GALWEM Precip SSMI observation error scale length (m):       30000.
AGRMET GALWEM Precip SSMI observation error variance:                   7.40
AGRMET GALWEM Precip CMORPH observation error scale length (m):     62000.
AGRMET GALWEM Precip CMORPH observation error variance:                 1.53
AGRMET GALWEM T2M background error scale length (m):                30000.
AGRMET GALWEM T2M background error variance:                            1.15
AGRMET GALWEM T2M station observation error variance:                   2.75
AGRMET GALWEM RH2M background error scale length (m):               55000.
AGRMET GALWEM RH2M background error variance:                          32.5
AGRMET GALWEM RH2M station observation error variance:                 48.0
AGRMET GALWEM SPD10M background error scale length (m):            100000.
AGRMET GALWEM SPD10M background error variance:                         0.35
AGRMET GALWEM SPD10M station observation error variance:                2.52


# 10-km GFS Bratseth error covariance settings
AGRMET GFS Precip background error scale length (m):            75000.
AGRMET GFS Precip background error variance:                        0.58
AGRMET GFS Precip Gauge observation error variance:                 0.6
AGRMET GFS Precip GEOPRECIP observation error scale length (m): 90000.
AGRMET GFS Precip GEOPRECIP observation error variance:             2.22
AGRMET GFS Precip SSMI observation error scale length (m):      30000.
AGRMET GFS Precip SSMI observation error variance:                  7.4
AGRMET GFS Precip CMORPH observation error scale length (m):    65000.
AGRMET GFS Precip CMORPH observation error variance:                1.43
AGRMET GFS T2M background error scale length (m):               60000.
AGRMET GFS T2M background error variance:                           0.78
AGRMET GFS T2M station observation error variance:                  3.48
AGRMET GFS RH2M background error scale length (m):              95000.
AGRMET GFS RH2M background error variance:                         34.6 
AGRMET GFS RH2M station observation error variance:                62.1
AGRMET GFS SPD10M background error scale length (m):             76000.
AGRMET GFS SPD10M background error variance:                         0.86
AGRMET GFS SPD10M station observation error variance:                2.44

